<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a3130_group_6">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.3130_Group_6">
        <activity android:name=".registrationForEmployees"></activity>
        <activity android:name=".registrationHome" />
        <activity android:name=".registrationForEmployers" />
        <activity android:name=".EmployerHomepage" />
        <activity android:name=".add_listing" />
        <activity android:name=".loginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>